/* Variables */

@import 'snow.css';
@import 'responsive.css';

:root {
    --tan: #F8EAD6;
    --off-white: #FFFFFFAF;
    --white: #FFFFFF;
    --green: #5D845D;
    --light-brown: #3E290B7;
    --brown: #4E2811;
    --peach: #DE6B6B;
    --grey: #00000029;
    --primary-font: "nunito",sans-serif;
    --secondary-font: "atten-new", sans-serif;
    --secondary-font-weight: 700;
    --secondary-font-style: normal;
    --big-border-radius: 21px;
    --small-border-radius: .5rem;
}

body {
  background-color: var(--tan);
  color: var(--brown);
  font-family: var(--primary-font);
  overflow-x: hidden;
}

a:hover {
    text-decoration: underline;
    color: inherit !important;
    text-decoration-color: var(--green);
}

h1, h2, h3, h4, h5, h6, a {
    color: var(--green);
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-weight: var(--secondary-font-weight);
    font-style: var(--secondary-font-style);
}

input[name=email] {
    width: 100%;
    height: 2.5rem;
}

input::placeholder {
    color: var(--green);   
    padding-left: 1rem;
}

form {
    width: 100%;
}

.help-inline {
    margin-top: -1rem;
    padding-left: 1rem;
}

.controls {
    width: 100%;
}

.btn {
    border-radius: var(--small-border-radius);
}

.white {
    color: white !important;
    width: 18rem;
    margin: 0 auto;
    text-align: center;
}

.detail .white {
    width: auto !important;
}

.green {
    color: var(--green);
}

.peach{
    color: var(--peach) !important;
}

.background-green {
    background: var(--green);
}

.padding-bottom-10rem {
    padding-bottom: 10rem;
}

.padding-bottom-5rem {
    padding-bottom: 5rem;
}

.btn {
    width: 10rem;
    height: 3.5rem;
    color: white;
    font-weight: bolder;
}

.errors {
    color: red;
}

.home-container {
    margin: auto;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-block {
    display: flex;
    justify-content: center;
}

.bottom-align {
    display: flex;
    justify-content: bottom;
    align-items: bottom;
}

.small-text {
    color: var(--green);
    font-size: 12px;
}

.index .jumbotron {
    margin-bottom: 8rem;

}

.jumbotron{
    text-align: center;
    background-color: inherit;
}

.donate-card {
    border-radius: var(--big-border-radius);
    margin: 0rem auto 4rem auto;
    padding: 2rem;
}

.logo-container {
    height: 27rem;
}

.ginger-bread {
    background-image: url('../img/logo.png');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 24rem;
}

.logo-box {
    background-image: url('../img/Gingerbread_logo_small.png');
    background-position: center top, center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100%;
}

.index .logo-container {
    height: 36rem;
}


i:hover {
    text-decoration: none !important;
}

i.fa-map-marker-alt {
    animation: none !important;
    color: var(--peach);
    font-size: 2.2rem;
}

i.fa-map-marker-alt::after {
    content: "\f3c5";
    animation: none !important;
    color: white;
    font-size: 2.7rem;
    position: absolute;
    left: 1.1rem;
    top: -.2rem;
    z-index: -300;
}

.map-outer {
    margin:auto;
}

.category {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.alert-light {
    text-align: center;
    margin-top: 6rem;
}

.alert-light h1, .alert-light h2, .alert-light h3, .alert-light h4 {
    margin: 0;
}

.card-header {
    min-height: 9rem;
    text-align: center;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: flex-end;
}

.header-text {
    width: 100%;
}

.detail-container {
    margin-left: 15px;
}

.detail .card-header {
    min-height: 0;
}

.card-img-top {
    margin-bottom: .5rem;
    border: 4px solid var(--green);
    border-radius: var(--small-border-radius);
}

.card-body {
    padding: 0 1.25rem;
}

.card-footer:last-child  {
    border-radius: 0;
}

.card-footer {
    background-color: inherit; 
    border-top: none; 
}

.name {
    size: 26px;
    color: var(--peach);
    font-family: var(--secondary-font);
    font-weight: var(--secondary-font-weight);
    font-style: var(--secondary-font-style);
}

.model_address {
    font-size: 24px;
    color: var(--brown);
    font-family: var(--secondary-font);
    font-weight: var(--secondary-font-weight);
    font-style: var(--secondary-font-style);
}

.home-text {
    padding-bottom: 4rem;
}

.vote {
   padding: 0 2rem;
}

.masked-elf {
    display: block;
    margin: 0 auto;
    height: 25em;
}

.sponsors img {
    width: 1000px;
    max-width: 100%;
    height: auto;
    max-height: 10rem;
    display: block;
    margin: auto;
}

.sponsor-row {
    margin: auto;
}

.sponsor-row h3 {
    color: var(--brown);
}

.ec {
    max-height: 8rem !important;
}

.tworock {
    max-height: 6rem !important;
}

.sponsor {
    margin: auto 0;
    padding: 0;
    height: 10rem;
}

.sponsor:first-child {
    border-right: 1px solid var(--brown);
}

.sponsor:last-child {
    border-left: 1px solid var(--brown);
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
