<div id="email-required" class="padding-bottom-5rem">
    <h2>EMAIL ADDRESS REQUIREMENT</h2>
    
    We’re just a little group with a cheery gingerbread competition.
    
    To make it easy for people to only vote once per entry, we are keeping track of votes with email addresses.
    
    We have a temporary spreadsheet that will be deleted at the end of the month. We will not use your email for anything else or share it with anyone in any way. 
    
    <p class="green">Questions or concerns? Email <a href="mailto:info@tworock.io">info@tworock.io</a></p>    
</div>
