<p>
    <b>Please consider donating with your vote</b> to support our very own Community Giving Fund in Orange County.
</p>
<p>
    Donations are being asked for the Community Giving Fund's Emergency Housing Assistance program in Orange County, NC. <b>Every single dollar</b> goes directly to keeping our community members secure in their housing situations. Each donation will directly assist people experiencing housing emergencies in Orange County to remain stable. This program was developed in partnership with local Governments and area nonprofits to prevent eviction and homelessness for low income Orange County residents. <b>So far in 2020, the program has served close to 1,000 residents to remain stable in housing — and the need continues to grow.</b>
</p>
<!-- What is the URL for the direct donations -->
<p class="small-text">
    Want to make a larger, tax-deductible donation? <a href="https://stionlineepaymanager.suntrust.com/secure/welcome.asp?SunTrust_EBPP=ORANGECOUNTYNC">Click Here</a> for Community Giving Fund's direct dontation portal through SunTrust. Select <b>"Emergency Housing"</b> as the FUND option in the payment.
</p>