<p>
    <b>Please consider donating with your vote</b> to support our very own Community Giving Fund in Orange County.
</p>
<p>
    <b>Every single dollar</b> goes directly to keeping our community members secure in their housing situations. This year alone, the fund has worked to keep over 1,000 people safely in their homes. <b>Because of CGF's housing assistance, Orange County, NC has less than half the displacement rate of any surrounding countries. </b> This means we have been able to keep even more people from losing their housing situation -- all because of your donations!
</p>
<!-- What is the URL for the direct donations -->
<p class="small-text">
    Want to make a larger, tax-deductible donation? <a href="https://stionlineepaymanager.suntrust.com/secure/welcome.asp?SunTrust_EBPP=ORANGECOUNTYNC">Click Here</a> for Community Giving Fund's direct dontation portal through SunTrust. Select <b>"Emergency Housing"</b> as the FUND option in the payment.
</p>