{% load static %}

<div class="sponsors container">
    <div class="row">
        <h3>Proudly Sponsored By:</h3>
    </div>
    <div class="row">
        <div class="sponsor col-4">
            <a href="https://www.meighancarmichael.com/">
                <img class="mc" src="{% static 'img/MC_BR-01.svg' %}" alt="Meighan Carmichael / Coldwell Banker" />
            </a>
        </div>
        <div class="sponsor col-4">
            <a href="https://www.erincampbellcreative.com/">
                <img class="ec" src="{% static 'img/ECC_Full-01.svg' %}" alt="Erin Campbell Creative" />
            </a>
        </div>
        <div class="sponsor col-4">
            <a href="https://tworock.io/">
                <img class="tworock" src="{% static 'img/Two-Rock-Software-Logo.svg' %}" alt="Two Rock Software - Custom Web Development" />
            </a>
        </div>
    </div>
</div>