
{% extends "base.html" %}

{% block title %}{{ house.name }} - {% endblock %}

{% block body_class %}detail{% endblock %}


{% block content %}

    {% include 'includes/banner.html' with content=house.category %}

    <div class="padding-bottom-10rem">
        <div class="row">
        <div class="house col-md-8" id="house-{{ house.id }}">
            <div class="card-header">
                <div class="header-text">
                    <h2 class="name">{{ house.name }}</h2>
                    <h3 class="model_address">{{ house.model_address }}</h3> 
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top image" alt="{{ house.name }} image"
                    src="{% if house.image %}{{ house.image.url }}{% else %}/static/img/placeholder-house.jpg{% endif %}"
                />
            </div>
            <div class="card-footer">
                <p class="location text-center">
                    <span class="green">Located At:</span><br>
                    <span class="display_address">
                         <a href="https://www.google.com/maps/d/u/0/viewer?mid=1rzkgK5HgPTe00XUVYzhauv8Jp3882ADy&ll=36.07568285226868%2C-79.09972604999999&z=19">
                        {{ house.display_address }}
                        </a>
                    </span>
                </p>                    
            </div>
        </div>
        
        <div class="col-md-4 vertical-align">
            <form action="{% url 'houses:vote' ginger_house_id=house.id %}" method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                  <div class="non-field-errors errors">
                    {% for err in form.non_field_errors %}
                      <p class="form-error">{{ err }}</p>
                    {% endfor %}
                  </div>
                {% endif %}

                {% for field in form %}
                    {% if field.errors %}
                        <div class="form-group error controls center-block">
                            <div class="">{{ field }}</div>
                        </div>
                        <div class="errors">
                            <p class="help-inline">
                                <span>{% for error in  field.errors %}{{ error }}{% endfor %}</span>
                            </span>
                        </div>
                    {% else %}
                        <div class="form-group controls center-block">
                            <div class="controls">{{ field }}</div>
                        </div>
                        <div class="">
                            {% if field.help_text %}
                                <p class="help-inline"><span>{{ field.help_text }}</span></p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                
                <div class="form-group text-center">
                    <button class="btn background-green"><h3 class="white">Vote</h3></button>
                </div>
            </form>
        </div>
        </div>
    </div>
    
    {% include "includes/email-required-text.html" %}
{% endblock %}