{% extends "base.html" %}

{% block body_class %}index{% endblock %}

{% block content %}
    
    <div class="contianer-fluid text-center col-md-4 home-container">
        <h2>Voting is open until December 30</h2>
        <p> <a href="https://www.google.com/maps/d/u/0/viewer?mid=1rzkgK5HgPTe00XUVYzhauv8Jp3882ADy&ll=36.07568285226868%2C-79.09972604999999&z=19">Walking Map</a></p>
    </div>
    
    <div class="card donate-card" style="width: 100%; padding:2rem; margin-bottom: 4rem;">
        <div class="row">
            <div class="col-md-8 center-text">
              <h3>In Benefit of <span class="peach">community giving fund's emergency housing assistance</span> for orange county, NC</h1>            
            </div>
            <div class="col-md-4 vertical-align">
                {% include 'includes/donate-button.html' %}
            </div>
        </div>
    </div>
    <div class="contianer-fluid home-text col-md-8 home-container">
        {% include 'includes/home-text.html' %}   
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="ginger-bread"></div>
            </div>
            <div class="col-md-6 vertical-align">
                <h1 class="peach">
                    You may vote once in each category
                </h1>
            </div>
        </div>
    </div>
    
    {% regroup object_list by category as category_list %}
    {% for category in category_list %}
        {% include 'includes/banner.html' with content=category.grouper %}
        <div class="house-list">
            <div class="row">
            {% for house in category.list %}
                <div class="house col-md-4" id="house-{{ house.id }}">
                    <div class="card-header">
                        <!-- bottom align header text -->
                        <div class="header-text">
                            <h2 class="name">{{ house.name }}</h2>
                            <h3 class="model_address">{{ house.model_address }}</h3>    
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{{ house.get_absolute_url }}"><img class="card-img-top image" alt="{{ house.name }} image"
                            src="{% if house.image %}{{ house.image.url }}{% else %}/static/img/placeholder-house.jpg{% endif %}"
                        /></a>
                        <p class="location">
                            Located At:<br>
                            <span class="display_address">{{ house.display_address | linebreaks }}</span>
                        </p>                    
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
{% endblock %}
