{% extends "base.html" %}

{% block title %}Thanks for Voting! - {% endblock %}

{% block content %}

{% include 'includes/banner.html' with content='Thank you for voting!' %}

{% include 'includes/donate-please.html' %}

<p>Please consider donating with your vote to support our very own Community Giving Fund in Orange County.</p>
<p>
    Donations are being asked for the Community Giving Fund’s Emergency Housing Assistance program in Orange County, NC.
    Every single dollar goes directly to keeping our community members secure in their housing situations. Each
    donation will directly assist people experiencing housing emergencies in Orange County to remain stable. This
    program was developed in partnership with local Governments and area nonprofits to prevent eviction and homelessness
    for low income Orange County residents. So far in 2020, the program has served close to 1,000 residents to remain
    stable in housing — and the need continues to grow.
</p>
<p class="small">
    Want to make a larger, tax-deductible donation? <a href="https://stionlineepaymanager.suntrust.com/secure/welcome.asp?SunTrust_EBPP=ORANGECOUNTYNC">Click Here
    for Community Giving Fund’s</a> direct donation portal through SunTrust. Select “Emergency Housing” as the FUND option in the payment.
</p>

{% endblock %}
