{% extends "base.html" %}

{% block title %}Thanks for Voting! - {% endblock %}

{% block content %}

{% include 'includes/banner.html' with content='Thank you for voting!' %}

{% include 'includes/donate-please.html' %}

<p>Please consider making a donation with your vote to honor the hard work of our Gingerbread Creators.</p>
<p>
    All donations will be split 50/50 between the Hillsborough Arts Council (HAC) and Orange Congregations in Mission
    (OCIM) to support the arts and our local food bank.
</p>

{% endblock %}
